.project
*/node-log.log
logs/*.log
!.gitignore
node_modules/*
.project
.settings/
**/*.svn
*.svn
*.sublime-project
*.sublime-workspace
*.idea
logs/*.log*
/config/**/admin.json
/config/**/config.json
/config/**/log4js.json
/config/**/nacos.json
/config/**/servers.json